@font-face{font-family:Whitney;font-weight:400;src:url(/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff")}@font-face{font-family:Whitney;font-weight:600;src:url(/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff")}
.mention {
    background-color: rgba(115,139,215,.1);
    color: #7289da;
    font-weight: 500;
    transition: background-color .05s,color .05s;
    text-decoration: none;
    padding: 1px
}
.mention:hover {
    background-color: rgba(115,139,215,.7);
    color: #fff;
    transition: background-color .05s,color .05s;
}
body {
    background-color: #36393e;
    font-family: Whitney;
    font-weight: 400;
    font-size: 1.125rem;
}
.si {
    font-size: 200%;
    font-weight: 600;
    font-style: oblique;
    color: hsla(0,0%,100%,.7);
}
ul li {
    list-style-type: none;
    margin: 3px
}
.centered {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
