.headercontainer .title {
    display: block;
    margin: 0 35vw;
    width: 30vw;
    max-width: 410px;
    position: relative;
    top: 3.5vw;
}
body {
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADnCAYAAADfCDwWAAAABmJLR0QAXwAqACxEAkywAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QEPDxwkpeel0AAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAA/ElEQVQ4y22TQXLAMAgDV0zPnf7/VX1H+4eqBxsMTi4Z4pi1JBM+P78cBoL2MIFNgAg714wJzX02NIDsfK02VB1/WVkmsIqXbVqVdkVDsVVZ2h0iqzgyxBCpBKhBNc2IkCEcaWGt1b7l7bjUEx8cb8mTTNiqDj2khZ88KQqQbTvJBAh2TFFJrl7TE9edFcM0c/Olj6eCRamIDxSNM0AZSSV0qWdG0nMZSlvs9fUEpkYe+tadX6h2ZF5yn5cXyq1PaVXqZxzeW7rX5HT8CPEKrKvXHJA5dXrOVZOhMeNr6tacjju/LiVeePuHGBaCy4dfhLtiyt/0I0R8//zyD3IPVDM1bdkEAAAAAElFTkSuQmCC") repeat-x #121315;
    background-size: 1px 16.9785vw;
background-position-y: -5.1vw;
}
.house {
    height: 10.1vw;
    max-height: 140px;
    margin-left: 12vw;
}
.field {
    float: right;
    width: 33.6vw;
    max-width: 459px;
    margin-top: 3.5vw;
    margin-right: 5.65vw;
}
.yorp {
    position: relative;
    height: 16.9vw;
}
.headercontainer {
    position: absolute;
    top: -17.789vw
}
#header .description {
    color: #999;
    margin-top: 6.5vw;
    text-align: center;
    font-weight: 700;
    font-size: 1.32vw
}
.centeringcentered {
    width: 44vw;
    margin: 0 28vw
}
#page_wrap {
    margin-top: 7.2474vw !important;
}
#main_navi {
    margin-top: 4.758vw !important
}
@media screen and (min-width: 1366px) {
    .yorp {
        height: 227px;
    }
    .headercontainer {
        top: -236px
    }
    .headercontainer .title {
        margin: 0 calc(50vw - 205px);
        top: 48px;
    }
    body {
        background-size: 1px auto;
        background-position-y: -66px;
    }
    .field {
        margin-top: 49px
    }
    #header .description {
        font-size: 18px;
        margin-top: 89px;
    }
    .centeringcentered {
        width: 600px;
        margin: 0 calc((100vw - 600px) / 2)
    }
    #page_wrap {
        margin: 99px auto !important
    }
    #main_navi {
        margin-top: 65px !important;
    }
    .title {
        top: 20px
    }
}
@media screen and (max-width: 650px) {
    #header .description {
        font-size: 1.69vw
    }
    .headercontainer .title {
        width: 35vw;
        margin: 0 32.5vw
    }
}
@media screen and (max-width: 360px) {
    .description {
        display: none
    }
    .headercontainer .title {
        top: 5vw
    }
}
